*{
    box-sizing: border-box;
}


.cell {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    font-size: 1.5em;
}

.cell:hover{
    border: #feb236 3px solid;
    background-color: #41d68b;
    height: 60px;
    width: 60px;
    border-radius: 6px;


}

table {
    margin: auto;
}

td {
    border: #3679fe 3px solid;
    background-color: #d69341;
    height: 60px;
    width: 60px;
    border-radius: 6px;
}